.section {
    width: 100%;
    padding-bottom: 5em;
    padding-top: 4em;
    /* background-color: #301051; */
    background:rgb(0, 0, 0,0.6) ;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: "Red Hat Display";
    color: #fff;

}



.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    /* background-color: #68c5d1; */
}

.contenedorTeam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.membersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5em;
    padding-top: 2em;
    /* background-color: yellow; */

}
.memberInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nftContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 60%;
}
.imgBig{
    width: 40%;
}

.member {
    display: flex;
    flex-direction: column;
    /* background-color: #9d4edd; */
    width: 25%;
    max-width: 100%;
    /* margin-top: 1em; */
    cursor: pointer;
    /* padding: 10em; */
}
/* .member:nth-child(-n+3):hover{
    margin-bottom: 1em;

} */
.member:hover{
    /* margin-top: 1em; */
    transform: scale(1.15);
}


.nameContainer {
    display: flex;
    flex-direction: column;
    background-color: #2d293e;
    /* padding: 1em 2em; */
    text-align: center;
    width: 100%;
}

.name {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.job {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.expContainer{
    width: 100%;
    background-color: #bb55ff;
    padding: 1.5em 0;
    word-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp{
    width: 80%;
}

.experience {
    font-size: 1rem;
    font-weight: 400;
}
@media (max-width: 768px){
    .membersContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .member {
        width: 80%;
        max-width: 100%;
        /* margin-top: 8em; */
        cursor: pointer;
        /* padding: 10em; */
    }
}
