.section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    /* padding: 3em 0; */
}
.container{
    /* background-color: orange; */
    width: 90%;
    font-family: "Red Hat Display";
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grilla{
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    cursor: pointer;
}
.project{
    /* padding: 2em 0; */
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2d293e;
}


.containerDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    padding: 1em 0;
}

.textInfo{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}
span{
    color: #fff;
    font-weight: bold;
}
span:nth-of-type(2){
    font-weight: 100;
}
.imgContainer{
    /* background-color: #f2c53d; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer img {
    border: 0.2em solid #f2c53d;
    border-radius: 50%;
    width: 50%;
    align-self: center;
    background-color: #bb55ff;
}
.number{
    font-size: 2rem;
    padding-left: 0.5em;
}
.btnContainer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.btn{
        background: linear-gradient(140deg,#ffb8b8 0%, #a52aff 31.99%, #6715ff 66.06%, #bb55ff 100%);
        font-family: "Red Hat Display";
        color: #fff;
        padding: 1em;
        border-radius: 5vh;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        width: 25%;
        border: none;
}