.section{
    background: linear-gradient(140deg,#ffb8b8 0%, #a52aff 31.99%, #6715ff 66.06%, #bb55ff 100%);
    height: 79vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.shadow {
    width: 100%;
    padding-top: 25.9vh;
    background:rgb(0, 0, 0,0.6) ;
    display: flex;
    justify-content: center;
}
.container{
    /* background-color: red; */
    width: 80%;
    height: 100%;
    /* padding: 1em 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageContainer {
    /* background-color: #9d4edd; */
    width: 50%;
    height: auto;
    padding: 0;
    margin: 0;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image {
    /* background-color: orange; */
    /* object-fit: contain; */
    width: 80%;
    /* max-height: 100%; */
    padding: 0;
    margin: 0;
    /* background-color: red; */
}
.coming{
    /* cursor: pointer; */
    font-size: 1.5rem;
    font-weight: 900;
    color: red;
    z-index:2;
    text-transform: uppercase;
    /* transform: rotate(8deg); */
    animation: wiggle 3s infinite;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: wiggle;
}
.coming::selection{
    color: red;
}
.textContainer {
    /* background-color: aliceblue; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 5rem;
    font-weight:900;
    padding: 0;
}
.text{
    /* background-color: red; */
    width: 100%;
    /* background-color: red; */
    font-family: "Red Hat Display";
    font-weight: bold;
    color: #fff;
    text-align:center;
    text-justify:distribute;
    text-transform: uppercase;
    /* display: flex;
    justify-self: flex-end;
    align-self: flex-end; */
}

@keyframes wiggle {
    50% {
        transform: rotate(8deg);
    }
    55% {
        transform: rotate(4deg);
    }
    60% {
        transform: rotate(12deg);
    }
    65% {
        transform: rotate(8deg);
    }
}

@media (max-width: 768px){
    /* .green{
        background-color: #a7c957;
        height: 79vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    } */
    .green{
        width: 100%;
        height: 80vh;
        /* background-color: red; */
        display: flex;
        /* flex-direction: column; */
        align-items: center;
    }
    .container {
        /* background-color: orange; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }
    .imageContainer {
        /* background-color: #9d4edd; */
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .image {
        /* background-color: orange; */
        object-fit: contain;
        width: 100%;
        max-height: 100%;
        padding: 0;
        margin: 0;
        /* cursor: pointer; */
    }
    .textContainer {
        /* background-color: aliceblue; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 2.5rem;
        font-weight:900;
        padding: 0;
    }
    
    .coming{
        position: absolute;
        font-size: 1rem;
        font-weight: 900;
        top: 40%;
        left: 80%;
    }

    .text{
        text-align:center;
        text-justify:distribute;
        text-transform: uppercase;
        /* display: flex;
        justify-self: flex-end;
        align-self: flex-end; */
    }
}
