.section {
    /* background: linear-gradient(140deg,#ffb8b8 0%, #a52aff 31.99%, #6715ff 66.06%, #bb55ff 100%); */
    background:rgb(0, 0, 0,0.6) ;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em 0;
    font-family: "Red Hat Display";
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.faq {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 2em;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    font-size: 2rem;
    font-weight: bold;
    /* gap: 0.5em; */
    width: 100%;
}

.pregunta {
    background-color: #2d293e;
    width: 100%;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 0.5em;
    /* margin-left: 1em; */
}

.text {
    padding-left: 1em;
}


.respuesta {
    background-color: #2d293e;
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    /* justify-content:; */
    align-items: center;
    cursor: pointer;
    /* padding-left: 1em; */
    gap: 0;
    animation: height-max 2s,text 2s;

}

.flecha {
    width: 15px;
    height: 15px;
    transition: .5s;
    float: left;
    box-shadow: -5px 5px 0 #fff;
    transform: rotate(-135deg);
    margin-right: 1em;
    cursor: pointer;
}

.flechaBaja {
    width: 15px;
    height: 15px;
    transition: .5s;
    float: left;
    box-shadow: -5px 5px 0 #fff;
    transform: rotate(-43deg);
    margin-right: 1em;
    cursor: pointer;
}

.respuestaText {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 400;
}

.respuestaText::selection {
    color: #fff;
}

@keyframes height-max {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 15em;
    }
}

@keyframes text {
    0% {
        color: transparent;
    }

    100% {
        color: #fff;
    }
}

@media (max-width: 768px){
    .respuesta{
        flex-direction: column;
        gap: 0.5em;
        animation: height-max 2s,text 7s;
    }
    .flecha {
        width: 15px;
        height: 15px;
        transition: .5s;
        float: left;
        box-shadow: -5px 5px 0 black;
        transform: rotate(-135deg);
        margin-right: 1em;
        cursor: pointer;
    }
}